.navBtn{
  background-color: blue;
  color: white;
  padding: 2vh;
  font-size: 1.2rem;
  float: right;
}

.head{
  font-size: 1.7rem;
}

.listDiv{
  height: 30vh;
  overflow-y: scroll;
  background-color: rgb(192, 192, 192);
}
.listDiv::-webkit-scrollbar{
  display: none;
}